<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>

<meta charset="UTF-8">

<title>پنل مدیریت</title>

<style>

body{
    font-family: Vazirmatn,sans-serif;
    background:#f3f6fb;
    padding:30px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th,td{
    padding:10px;
    border:1px solid #ddd;
}

th{
    background:#0f62fe;
    color:white;
}

</style>

</head>

<body>

<h2>پنل مدیریت</h2>

<table>

<tr>

{% for col in users[0].keys() %}
<th>{{ col }}</th>
{% endfor %}

</tr>

{% for row in users %}

<tr>

{% for value in row.values() %}

<td>{{ value }}</td>

{% endfor %}

</tr>

{% endfor %}

</table>

</body>

</html>
